 <%= render partial: "layouts/profile_row", locals: {counter: artist_iteration.index} %>

    <div class="col-xs-4 " style="min-height:360; max-height:360;">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to "#{artist.name} - #{artist.artist_type}", artist_path(artist) %></h3>
          </div>

          <div class="panel-body">
          <%= link_to image_tag("#{artist.img_link}", size: "200x200"), artist_path(artist) %>
            <br>
            <p>Abstract <%=artist.abstract %> </p>    
          </div>      
        </div>
      </div>

  <%  if (artist_iteration.index+1)%3==0 && artist_iteration.index != 0 %>
    </div> 
  <% end %>
