
  <div class="container-fluid col-xs-12">
   <h1><%= link_to "View All Artists", artists_path  %> </h1>
  </div>
   <%= render partial: "home/search_filter_bar", locals: {type: Artist.new } %>

   <%= render partial: "artist_mini_profile", collection: @artists, as: :artist %>



