<div class="col-xs-2">
  <div class="panel panel-default">
    <%= image_tag("#{fan.img_link}", size: "50x50") %>
    <p style="margin: auto; text-align: center; font-size: 100%"><%= fan.username%></p>
  </div>
</div>
