<div class="container">
  <h1> Your Favorites </h1>
    <h3>Favorite Media:</h3>
  <br>
  
      <div class="container">
        <%= render partial: "media/medium_mini_profile", collection: @cart.media , as: :medium %>
    <h4><%= link_to "Edit your favorites" , edit_cart_path(@cart) ,class: "btn btn-default"  %></h4>

 </div>
</div>