  <div class="container-fluid col-xs-12">
       <h1><%= link_to "View All  Media", media_path  %> </h1>
  </div>

<%= render partial: "home/search_filter_bar", locals: {type: Medium.new } %>

<%= render partial: "medium_mini_profile", collection: @media, as: :medium %>










